# Pictures no longer used on the page (kept on this computer only)
images/kokonaar.jpg
images/kokonaar-phone.jpg
images/bismi-phone.jpg
images/kaswa-phone.jpg
images/dekay.jpg
images/cocoroots.jpg
images/bismi.jpg
images/dekay-phone.jpg
images/cocoroots-phone.jpg
